.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

.items {
  display: flex;
}

.info {
  font-size: 2rem;
  text-align: center;
}

.container button {
  border: 2px solid #000;
  border-radius: 0.3rem;
  transition: 0.5s;
  padding: 1rem;
  background: #000;
  color: #fff;
  width: 200px;
}

.container button:hover {
  color: #000;
  background-color: rgb(145, 145, 145, 0.3);
  cursor: pointer;
}

@media (max-width: 569px) {
  .items {
    display: block;
  }
}
