.container {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 0.2rem;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container div p:hover {
  text-decoration: underline;
}
